<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.sentinelx.agent" level="INFO"/>
    <logger name="oshi" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
